resource_group_name  = "your-existing-terraform-state-resource-group"
storage_account_name = "yourexistingtfstateaccount"
container_name       = "tfstate"
key                  = "ficp/artizent/dev/drift-demo/terraform.tfstate"
use_azuread_auth     = true
